html
  head
    title= "History"
  style
    include ../public/stylesheets/style.css
  body
    h1= meme.get_name()
    img(src="../" + meme.get_url())
    h1(id="history")="Price history"
    table
      tr
        th="Price"
        th="User"
      each price in meme.get_price_history().slice().reverse()
        tr
          td=price[0]
          td=price[1]
    section(id="change")
      h1= "Change meme's price"
      if user
        form(method="POST")
          p= "New price:"
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="number" min="0" name="price" required)
          input(type="submit" value="Confirm")
      else
        p= "Log in to change price"
    a(href = "/" id="return")
      button(type="button" action="/")="Return to the main page"
