html
  head
    title= title
  style
    include ../public/stylesheets/style.css
  body
    h1= message
    img(src="images/hello.jpg", id="hello")
    h1="Meme list"
    ul
      each meme in memes
        li
          a(href="meme/" + meme.get_id()) #{meme.get_name()}
          img(src=meme.get_url())
          p="Price: " + meme.get_price()