html
  head
    title= "History"
  style
    include ../public/stylesheets/style.css
  body
    h1= meme.name
    img(src="../" + meme.url)
    table
      tr
        th= "Price history"
      each price in meme.priceHistory.slice().reverse()
        tr
          td=price
    section(id="change")
      h1= "Change meme's price"
      form(method="POST")
        p= "New price:"
        input(type="number" min="0" name="price" required)
        input(type="submit" value="Confirm")
    a(href = "/" id="return")
      button(type="button" action="/")="Return to the main page"
